@charset "UTF-8";
@import 'colors';
@import 'mixins';
@import 'reset';

$font-stack: 'Droid Sans', Helvetica, sans-serif;

// Inheritance
.hover_properties_solid {
  color: $card-white;
  background-color: $primary-color;
  border-color: $card-white;
  text-decoration: none;
}

.hover_properties_outline {
  color: $primary-color;
  background-color: $card-white;
  border-color: $primary-color;
  text-decoration: none;
}

.bg_animation {
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  transition-property: color, border-color, background-color;
}

// testing only
.testing {
	display: flex;
	width: percentage(5/7);
	color: $card-white;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $light-grey;
}

body {
  font-family: $font-stack;
  padding-bottom: 40px;
}

h1,
h2,
h3,
h4 {
  color: $primary-color;
}

p {
  color: $dark-grey;
}

/*-----------------------------------
section 1 -  login with Nesting and Mixins
-----------------------------------*/

.container {
  max-width: 290px;
  margin: 20px auto;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  background-color: $primary-color;
  text-align: center;
  h2 {
  	color: $card-white;
    padding-top:20px;
    margin-bottom: 14px;
    font-size: 20px;
  }
  p {}
}

.form-row {
  padding: 10px 0;
  background-color: $primary-color;
  display: flex;

  label {
    padding-right: 10px;
  }
  input {
    // child element
    flex: 1;
    background-color: $primary-color;
  }

   p{
  	color: $primary-color;
  }
}

.btn {
  color: $primary-color;
  background-color: $card-white;
  border: 2px solid $primary-color;
  margin-top: 20px;
  padding: 8px 16px;
  line-height: normal;
  text-transform: uppercase;
  width: 80%;
  @include border_radius (50px);
}

.btn_outline {
  color: $card-white;
  background-color: $primary-color;
  border: 2px solid $card-white;
  margin-top: 12px;
  margin-bottom: 4px;
  padding: 8px 16px;
  line-height: normal;
  width: 80%;
  @include border_radius (50px);
}

// @extend
.btn_solid:hover {
  @extend .hover_properties_solid;
  @extend .bg_animation;
}

.btn_outline:hover {
  @extend .hover_properties_outline;
  @extend .bg_animation;
}

.btn:focus{
  border-color: $card-white;
  outline: 0;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input {
  padding: 8px;
  border: none;
  border-bottom: 2px solid $card-white;
 	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

 input:focus {
   border-color: $primary-color;
   border-bottom: 2px solid $card-white;
   outline: 0;
	 box-shadow: inset 0 0px 0px rgba(0,0,0,.0), 0 0 0px rgba(29,233,182, .0);
}

.input_copy {
  color: $card-white;
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 8px;
}

/*-----------------------------------
section 2 -  columns
-----------------------------------*/

.column-layout {
  // parent element
  max-width: 1200px;
  margin: 40px auto 0 auto;
  padding: 20px 50px;
  background-color: $card-white;
  line-height: 1.65;
}

.main-column {
  flex: 3;
  // 3x wider than the other child elements 
  order: 2;
  flex-basis: 60%;
}

.sidebar-one {
  flex: 1;
  // uses the remaining space
  order: 1;
  flex-basis: 20%;
}

.sidebar-two {
  flex: 1;
  order: 3;
  flex-basis: 20%;
}

// target the parent element to add flexbox for screens < 900px 
@media screen and (min-width:900px) {
  .column-layout {
    display: flex;
    align-items: stretch;
    // flex-start, flex-end, center 
    justify-content: space-between;
    // flex-start, flex-end, center 
  }
  .main-column {
    margin: 0 20px;
  }
}


/*-----------------------------------
section 3 - features with lighten, tint & Nesting
-----------------------------------*/

.call-outs-container {
  max-width: 1200px;
  margin: 40px auto 0 auto;
}

.call-out {
  // child element 
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 32%;
  // width 
	  p,
	  h4 {
	    color: $card-white;
	  }
}

.call-out:nth-child(1) {
  background-color: lighten($primary-color, 20%);
}

.call-out:nth-child(2) {
  background-color: lighten($primary-color, 40%);
}

.call-out:nth-child(3) {
  background-color: lighten($primary-color, 60%);
}

.call-out:nth-child(2),
.call-out:nth-child(3) {
  h4,
  p {
    color: $primary-color;
  }
}

// more color samples using mixins & Nesting 
.call-out2 {
  // child element
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 32%;
  // width
  h4,
  p {
    color: $card-white;
  }
}

.call-out2:nth-child(1) {
  background-color: tint($primary-color, 20%);
}

.call-out2:nth-child(2) {
  background-color: tint($primary-color, 40%);
}

.call-out2:nth-child(3) {
  background-color: tint($primary-color, 60%);
}

// target the parent element to add flexbox for screens < 900px
@media screen and (min-width: 900px) {
  .call-outs-container {
    display: flex;
    align-items: stretch;
    // flex-start, flex-end, center
    justify-content: space-between;
    // flex-start, flex-end, center
  }
}


/*-----------------------------------
section 4 - Row of Items with @mixin
-----------------------------------*/

.fixed-size-container {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  background-color: $card-white;
  padding: 30px 10px 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fixed-size {
  width: 100px;
  height: 100px;
  background-color: $medium-grey;
  color: $card-white;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: 0 10px 10px;
}

.fixed-size:nth-child(2) {
  @include border_radius (5px);
}

.fixed-size:nth-child(3) {
  @include border_radius (10px);
}

.fixed-size:nth-child(4) {
  @include border_radius (20px);
}

.fixed-size:nth-child(5) {
  @include border_radius (30px);
}

.fixed-size:nth-child(6) {
  @include border_radius (40px);
}

.fixed-size:nth-child(7) {
  @include border_radius (50px);
}


/*-----------------------------------
section 5 - Center Me with Nesting
-----------------------------------*/

.banner {
  height: 200px;
  max-width: 400px;
  margin: 40px auto 40px auto;
  background-color: $card-white;
  display: flex;
  // parent div
  .center {
    height: 100px;
    width: 240px;
    background-color: $medium-grey;
    margin: auto;
    // auto margin to child div
    display: flex;
    // parent div
    p {
      color: $card-white;
      font-size: 28px;
    }
  }
}

.center-text {
  margin: auto;
  // auto margin to child p
}


/*-----------------------------------
section 6 - Columns + Row
-----------------------------------*/

.equal-height-container {
  max-width: 900px;
  margin: 0 auto;
  // display: flex;
}

.first {
  background-color: $card-white;
  padding: 20px;
  flex: 1;
}

.second {
  // parent of a + b
  background-color: $very-dark-grey;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.second-a {
  background-color: tint($primary-color, 40%);
  flex: 1;
  display: flex;
}

.second-b {
  background-color: tint($primary-color, 60%);
  flex: 1;
  display: flex;
}

.center-text-again {
  // example only
  margin: auto;
  // auto margin to child
  padding: 40px 0;
}

@media screen and (min-width: 900px) {
  .equal-height-container {
    display: flex;
  }
}








