@charset "UTF-8";

$font-stack: 'Droid Sans', Helvetica, sans-serif;
$primary-color: #1de9b6;
$very-dark-grey: #37474f;
$dark-grey: #607d8b;
$medium-grey: #bdbdbd;
$light-grey: #f5f5f5;
$card-white: #fff;

.testing {
	display: flex;
	width: percentage(5/7);
	color: $card-white;
}

html,
body {
  margin: 10px;
  padding: 0;
  background-color: $very-dark-grey;
}

body {
  font-family: $font-stack;
  padding-bottom: 40px;
}

h1,
h2,
h3,
h4 {
  color: $card-white;
}

p { color: $dark-grey; }